* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, #8ec5fc, #e0c3fc);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}


input {
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 80%;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
  transition: 0.3s;
}
input:focus {
  border-color: #7e57c2;
}


.weather-card {
  margin-top: 20px;
  padding: 15px;
  background: #f3f3f3;
  border-radius: 15px;
}

.weather-card h2 {
  font-size: 28px;
  color: #333;
}

.weather-card h3 {
  font-size: 22px;
  color: #555;
  margin-bottom: 10px;
}

.weather-card p {
  font-size: 16px;
  margin: 5px 0;
  color: #444;
}

@media (max-width: 500px) {
  .app {
    width: 95%;
  }

  input {
    width: 100%;
  }
}      